body {
    background-color: rgb(150, 30, 30);
    color: rgb(8, 252, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 16px;
}

h1 {
    color:aqua;
    text-decoration:overline;
    background-color:limegreen;
    font-size: 3em;
}

p, ul, ol, table{
    text-align: left;
    max-width: 700px;
    margin:0 auto 1em auto;
    line-height: 1.5;
}

ul, ol {
    padding-left: 350px; 
}

p {
    padding-left: 300px;
}

table {
    color: white;
    background-color: rgb(139, 7, 139);
    width: 50%;
    box-shadow: 5px -5px 4px rgb(0, 0, 0) ;
}

img {
    width: 300px;
}